.newUser{
    flex: 4.2;
    padding: 20px;
    .newUserTitle{
        color: #0ff
    }
    .newUserForm{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        .newUserItem{
            width: 400px;
            display: flex;
            flex-direction: column;
            margin: 10px 20px;
            &>label{
                margin-right: 10px;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 600;
                color: #777;
            }
            &>input{
                height: 10px;
                padding: 10px;
                font-size: 16x;
                border: 1px solid #d19ed1;
                color: #c5a5c5;
                background-color: #111;
                
                border-radius: 5px;
                &:focus{
                    outline: none;
                    border: 1px solid #0ff;
                    color: #0ff;
                }
            }
            .userGender{
                margin: 15px 15px 0;
                &>input{
                    margin-right: 5px;                
                }
                &>label{
                    margin-right: 15px;
                    font-size: 16x;
                    color: #e6c3e6;
                }
            }
            .newUserActive{
                height: 35px;
                border-radius: 8px;
                padding: 8px;
                border: 1px solid #e6c3e6;
                color: #e6c3e6;
                background-color: #111;
                &:focus{
                    outline: none;
                    border: 1px solid #0ff;
                    color: #0ff;
                }
            }
        }
        .newUserButton{
            width: 180px;
            height: 35px;
            margin: 45px 25px 0;
            background-color: #987f98;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            color: #fff;
            transition: all .3s ease-in-out;
            font-weight: 600;
            cursor: pointer;
            &:hover{
                background-color: #cf86cf;
            }
        }
    }
}